@charset "utf-8";

@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
html,
body {
  height: auto;
  min-height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: $white;
}
body,
div,
select,
textarea,
input,
p,
pre {
  border: 0;
  outline: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object,
textarea,
a,
img {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table img {
  vertical-align: middle;
}
select,
input,
table tr td,
table tr th {
  vertical-align: middle;
}
form,
fieldset,
abbr,
acronym {
  border: 0;
}
img {
  border: 0;
  vertical-align: top;
}
address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
th,
a,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul,
li {
  list-style: none;
}
table td a {
  display: inline-block;
}
table caption {
  display: none;
}
a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  pointer-events: all;
  text-decoration: none;
  outline: none;
  color: inherit;
  unicode-bidi: embed;
}
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p {
  font-family: 'Noto Sans', sans-serif;
  cursor: default;
  unicode-bidi: embed;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

select,
textarea,
input {
  font-family: 'Noto Sans', sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
