$white: rgba(255, 255, 255, 1);
$gray: rgba(247, 247, 247, 1);
$deep_gray: rgba(216, 216, 216, 1);
$gray50: rgba(128, 128, 128, 1);
$deep_alive_orange70: rgba(224, 107, 67, 1);
$blue100: rgba(36, 125, 225, 1);
$red: rgba(255, 0, 0, 1);
